body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    font-size: 20px;
    height: 43px;
    background-color: rgb(235, 235, 235);
    padding-top: 4px;
    color: rgb(126, 114, 114);
    box-shadow: 0px 3px 12px rgb(161, 161, 161);
    border-bottom: 1px solid rgb(242, 242, 242);
    justify-content: center;
    z-index: 0;
}
.szabadsag{
display: flex;
text-align: center;
justify-content: center;
padding: 0 18px 30px;
margin-top: 30px auto 0;
}
.szabadsag img{
box-shadow:
0px 10px 12px rgb(165, 165, 165);    
margin: 0 auto;
display: block;
height: auto;
margin-top: 30px;
max-width: 100%; 
}
.bi-list-task{
 color: rgb(126, 114, 114);  
 position: absolute;
 z-index: 1;
 font-size: 24px;
 margin-top: 2px;
 margin-left: 5px;
}
a{
 text-decoration: none;
}

@media screen and (max-width: 576px) {
.szabadsag img {
    max-height: 90vh;
    width: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain; 
}
.szabadsag{
    margin-top: 50px;
} 
}